body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3%;
}
#signup-box
{
    display: flex;
    border: 2px solid black;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    padding-bottom: 5%;
    padding-top: 5%;
    height: 50vh;
}
input{
    height: 10%;
}
button
{
    height: 10%;
    border-radius: 24px;
    width: 5rem;
    background-color: rgb(6, 165, 227);
    color: white;
}
#login-box
{
    display: flex;
    justify-content: center;
    border: 2px solid black;
    width: 25rem;

}