<html>
    <head>
        <link rel="stylesheet" href="/static/css/login.css">
    </head>
    <body>
        <form action="logging-in" method="post">
        <div id="login-box">
            <span><h2>LOGIN</h2></span>
            <input type="text" id="username" name="username" placeholder="Enter Username">
            <input type="password" id="password" name="password" placeholder="password">
            <button type="submit">Login</button>
        </div>
        </form>
        <br>

        
        <div id="signup-box">
            
            <p>Didn't have a account?&ensp;<a href="/sign-up">signup here</a></p>
        </div>
        <script>
            window.onload = function() {
                var message = "{{ message }}";
                if (message) {
                    alert(message);
                }
            };
        </script>
    </body>
</html>